/* StudentTerms.css */

.student-terms {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 700px;
}

.navbar {
  background-color: #9F9D9D;
  color: #fff;
  padding: 10px;
  height: 60px;
}

.container {
  display: flex;
  flex-direction: row-reverse; /* Reverse the order of flex items */
}

.sidebar {
  background-color: #CBCBCB;
  width: 200px;
  height: 700px;
  padding: 20px;
}

.content {
  padding: 20px;
  flex-grow: 1;
}

.term-list {
  list-style: none;
  padding: 0;
}

.term-item {
  background-color: #F2F2F2;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}



.term-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.term-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.term-button {
  flex-basis: calc(50% - 5px);
  background-color: lightgray;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.logout-button {
  background-color: #9F9D9D;
  color: white;
  margin-top: 20px;
}

.showList-button {
  background-color: #CBCBCB;
  color: black;
  margin-left: 0px;
  margin-top: 2px;

}
